.main1 {
    padding: 10px 90px;
    color: white;
    height: 100%;
    background-color: rgb(40, 35, 40);

}

.main{
  align-items: center;
  padding: 10px 90px;
  margin: 10px;
  justify-content: center;
  text-align: center;
}

.copy-container b{
  font-family: "robotop",sans-serif;  font-size: 30px;
  color:red
}
.copy-container b span{
  color: rgb(235, 232, 232);

}
  
.doraemon1{
  align-items: center; 
}
.carousel-inner{
 
}

.carosegambar{

}

.carousel-item.active{
  justify-content: center;
 
}
.d-block.w-100{
  opacity: 75%;
}




.carousel-caption.d-none.d-md-block{
  color: rgb(255, 255, 255);
  text-align: center;
}

.contents {

    
}
  
  .search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(82, 82, 225);
    padding-bottom: 10px;
    padding: 10px;

  }

  .pencarian{
    background-color: rgb(21, 18, 21);
    padding: 10px 25px;
    border-radius: 40px;
    border-bottom: 1px solid rgb(0, 0, 0);
 
  }
  
  .search1{
    background: none;
    outline: none;
    border: none;
    border-radius: 50px;
    color: white;
  }

  .section-title {
    color: white;
    font-size: 28px;
  }

  .perkumpulan{
  display: flex;
  align-items: end;

 }
  
  .contents-item1 {
    padding-bottom:0px ;
    margin: 10px;
    
    
  }

  .contents-item {
    margin-bottom: 20px; /* Mengganti margin-right menjadi margin-bottom */
    float: left;
    margin-right: 20px;
    align-items: center;
    padding-bottom: 1px;
    border-radius: 5px;
    border-bottom: 2px solid rgb(82, 82, 225);
    color: white;
    background-color: rgb(12, 6, 6); 
 }

.boruto{
    width: 210px;
    height: 330px;
    padding: 5px;
    text-align: center; 
    justify-content: left;
    align-items: center;
    
    }
  
  
  .contents-item p {
    font-size: 15px;
    padding: 5px;
    margin-top: 10px;
    justify-content: center;
    text-align: center; /* Mengubah menjadi pusat teks */
    align-items: center;
    text-transform: capitalize;
  }
  @media screen and (max-width: 788px) {
    
    .boruto{
      width: 210px;
      height: 230px;
      padding: 5px;
      text-align: center; 
      justify-content: left;
      align-items: center;
      
      }

      .contents-item p {
        font-size: 15px;
        text-transform: capitalize;
      }
      .search{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid rgb(82, 82, 225);
        padding-bottom: 10px;
        padding: 10px;
    
      }
      .copy-container {
        display: none;
      }
      .d-block.w-100{
        width: 1000px;
      }
      .pencarian{
        background-color: rgb(21, 18, 21);
        padding: 10px 25px;
        border-radius: 40px;
        border-bottom: 1px solid rgb(0, 0, 0);
        display: flex;
     
      }
      .search{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid rgb(82, 82, 225);
        padding-bottom: none
        
    
      }
  }